* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

.wrapper {
  width: 400px;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.wrapper .btn {
  width: 100px;
  height: 30px;
  margin: 20px auto;
}

.list-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.list1,
.list2 {
  list-style-type: none;
}
